html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: block;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.background-rain {
  background: rgb(98, 88, 166) url(assets/backgrounds/rain.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.background-snow {
  background: rgb(98, 88, 166) url(assets/backgrounds/rain.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.background-sun {
  background: rgb(98, 88, 166) url(assets/backgrounds/rain.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.background-default {
  background: rgb(98, 88, 166) url(assets/backgrounds/rain.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.weather-container {
  position: absolute;
  width: 100%;
  padding: 1.4em;
  z-index: 1;
}

.city-title {
  text-shadow: 1px 1px 10px #333;
  text-transform: capitalize;
}

.temperature {
  text-shadow: 1px 1px 10px #333;
  clear: both;
}

.temperature .weather-digit {
  font-size: 8em;
  float: left;
  transition: 0.3s 0.2s ease-out;
}

.temperature .sup {
  vertical-align: super;
  font-size: 0.3em;
}

.forecast {
  float: right;
  margin-right: 3em;
  margin-top: 0.2em;
  text-align: center;
}

.forecast .icon {
  font-family: 'weathericons', sans-serif;
  font-size: 6em;
  transition: 0.3s 0.2s ease-out;
  -webkit-font-smoothing: antialiased;
}

.forecast .description {
  font-size: 1em;
  text-shadow: 1px 1px 10px #333;
  text-transform: capitalize;
}

.does-it-suck {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  width: 100%;
  font-family: 'Exo', sans-serif;
  font-size: 4rem;
  text-shadow: 1px 1px 10px #333;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: default;
  opacity: 0.8;
  z-index: 1;
}

.settings-icon {
  display: block;
  float: right;
  margin-right: 3em;
  fill: #fff;
  opacity: 0.5;
  width: 2em;
  transition: 0.3s 0.2s ease-out;
  text-shadow: 1px 1px 10px #333;
  cursor: pointer;
}

.settings-icon :hover {
  fill: antiquewhite;
}

.settings-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.settings-panel-content {
  background-color: rgba(53, 29, 105, 0.5);
  padding: 2em;
  position: fixed;
  width: 100%;
}

.settings-panel-content div {
  padding-bottom: 1em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.blur {
  filter: blur(6px);
  transition: 0.5s 0.1s linear;
}

@media screen and (max-width: 700px) {
  .temperature .weather-digit {
    font-size: 6em;
  }

  .forecast .icon {
    font-size: 4em;
  }

  .settings-icon{
    width: 1.8em;
    margin-top: -1em;
  }

  .does-it-suck {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .does-it-suck {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .forecast {
    margin-top: 1.8em;
  }

  .forecast .icon {
    font-size: 2em;
  }

  .forecast .description {
    width: 5em;
  }

  .does-it-suck {
    font-size: 2rem;
  }
}

@media screen and (max-width: 250px) {
  .temperature .weather-digit {
    font-size: 3em;
  }

  .forecast {
    margin-top: 0.2em;
  }

  .forecast .description {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 160px) {
  .temperature .weather-digit {
    font-size: 2em;
  }
  .forecast .icon {
    font-size: 1em;
  }
}

@media screen and (max-height: 500px) {
  .temperature .weather-digit {
    font-size: 3em;
  }

  .forecast .icon {
    font-size: 2em;
  }

  .does-it-suck {
    top: 80%;
    transform: translate(-50%, -80%);
    font-size: 2rem;
  }
}
